.loader {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: wait;
}

.loader::before {
  display: block;
  width: 65px;
  height: 65px;
  content: "";
  border: 6px solid #4285f4;
  border-radius: 50%;
  box-sizing: border-box;
  animation: sweep 1s linear alternate infinite,
             rotate 0.8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sweep {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 50% 50%, 0% 0%, 0% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 50% 50%, 100% 0%, 100% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 50%, 100% 100%, 100% 0%, 0% 0%);
  }
}
